/****** Karent Franchesca Rodgriguez Nuñez 15-EIIN-1-021 0514 ******/
USE [master]
GO
/****** Object:  Database [FARMACIA]    Script Date: 04/15/2019 18:32:56 ******/
CREATE DATABASE [FARMACIA] ON  PRIMARY 
( NAME = N'FARMACIA', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\FARMACIA.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FARMACIA_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\FARMACIA_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FARMACIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FARMACIA]
GO
/****** Object:  Table [dbo].[PRESENTACION]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRESENTACION](
	[cod_Pres] [varchar](8) NOT NULL,
	[nom_Pres] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_Pres] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[cod_Cat] [varchar](8) NOT NULL,
	[nom_Cat] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_Cat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCALIZACION]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCALIZACION](
	[cod_Loc] [varchar](8) NOT NULL,
	[nom_Loc] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_Loc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [uni_LOCALIZACION] UNIQUE NONCLUSTERED 
(
	[nom_Loc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[cod_Emp] [varchar](8) NOT NULL,
	[nom_Emp] [varchar](40) NOT NULL,
	[dir_Emp] [varchar](40) NULL,
	[cod_Loc] [varchar](8) NOT NULL,
	[cargo] [varchar](40) NOT NULL,
	[edad] [varchar](2) NULL,
	[telf_Emp] [int] NOT NULL,
	[cel_Emp] [int] NULL,
	[ingreso] [datetime] NOT NULL,
	[clave] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_Emp] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[cod_Cli] [varchar](8) NOT NULL,
	[nom_Cli] [varchar](25) NOT NULL,
	[ape_Cli] [varchar](25) NOT NULL,
	[direc_Cli] [varchar](40) NULL,
	[cod_Loc] [varchar](8) NULL,
	[genero] [char](1) NOT NULL,
	[cedula] [int] NULL,
	[telf_Cli] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_Cli] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [uni_cedula] UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[cod_Prov] [varchar](8) NOT NULL,
	[nom_Prov] [varchar](40) NOT NULL,
	[dir_Prov] [varchar](50) NULL,
	[telf_Prov] [char](7) NULL,
	[cel_Prov] [char](10) NULL,
	[cod_Loc] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_Prov] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[cod_Usu] [varchar](8) NOT NULL,
	[cod_Emp] [varchar](8) NOT NULL,
	[nivel_Usu] [varchar](2) NOT NULL,
	[nom_Usu] [varchar](25) NOT NULL,
	[ape_Usu] [varchar](25) NOT NULL,
	[direc_Usu] [varchar](30) NOT NULL,
	[telf_Usu] [varchar](8) NOT NULL,
	[activo] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_Usu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[cod_Prod] [varchar](8) NOT NULL,
	[nom_Prod] [varchar](40) NOT NULL,
	[pre_venta] [decimal](10, 2) NOT NULL,
	[pre_compra] [decimal](10, 2) NOT NULL,
	[fecha_venc] [datetime] NOT NULL,
	[stock] [int] NOT NULL,
	[cod_Cat] [varchar](8) NOT NULL,
	[cod_Prov] [varchar](8) NULL,
	[cod_Pres] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_Prod] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDEN_PEDIDO]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDEN_PEDIDO](
	[num_OrdenP] [varchar](8) NOT NULL,
	[fecha_OrdenP] [datetime] NOT NULL,
	[cod_Cli] [varchar](8) NULL,
	[nom_Cli] [varchar](25) NULL,
	[cod_Emp] [varchar](8) NULL,
	[cod_TipoPago] [varchar](8) NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[num_OrdenP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOLETA]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOLETA](
	[num_Boleta] [varchar](8) NOT NULL,
	[fecha_Boleta] [datetime] NOT NULL,
	[cod_Emp] [varchar](8) NOT NULL,
	[cod_Cli] [varchar](8) NOT NULL,
	[num_OrdenP] [varchar](8) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[descuento] [int] NULL,
	[total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[num_Boleta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE_ORDEN_PEDIDO]    Script Date: 04/15/2019 18:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLE_ORDEN_PEDIDO](
	[num_DetOrdenP] [varchar](8) NOT NULL,
	[cod_Prod] [varchar](8) NOT NULL,
	[nom_Prod] [varchar](40) NOT NULL,
	[cantidad] [decimal](10, 2) NULL,
	[precio_venta] [decimal](10, 2) NULL,
	[importe] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[num_DetOrdenP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Check [CK_cedula]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [CK_cedula] CHECK  ((len([cedula])=(11)))
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [CK_cedula]
GO
/****** Object:  Check [CK_genero]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [CK_genero] CHECK  (([genero]='O' OR [genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [CK_genero]
GO
/****** Object:  ForeignKey [pk_cod_LocE]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [pk_cod_LocE] FOREIGN KEY([cod_Loc])
REFERENCES [dbo].[LOCALIZACION] ([cod_Loc])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [pk_cod_LocE]
GO
/****** Object:  ForeignKey [pk_cod_Loc]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [pk_cod_Loc] FOREIGN KEY([cod_Loc])
REFERENCES [dbo].[LOCALIZACION] ([cod_Loc])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [pk_cod_Loc]
GO
/****** Object:  ForeignKey [pk_cod_LocP]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [pk_cod_LocP] FOREIGN KEY([cod_Loc])
REFERENCES [dbo].[LOCALIZACION] ([cod_Loc])
GO
ALTER TABLE [dbo].[PROVEEDOR] CHECK CONSTRAINT [pk_cod_LocP]
GO
/****** Object:  ForeignKey [pk_cod_EmpU]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [pk_cod_EmpU] FOREIGN KEY([cod_Emp])
REFERENCES [dbo].[EMPLEADO] ([cod_Emp])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [pk_cod_EmpU]
GO
/****** Object:  ForeignKey [pk_cod_Cat]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [pk_cod_Cat] FOREIGN KEY([cod_Cat])
REFERENCES [dbo].[CATEGORIA] ([cod_Cat])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [pk_cod_Cat]
GO
/****** Object:  ForeignKey [pk_cod_Pres]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [pk_cod_Pres] FOREIGN KEY([cod_Pres])
REFERENCES [dbo].[PRESENTACION] ([cod_Pres])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [pk_cod_Pres]
GO
/****** Object:  ForeignKey [pk_cod_Prov]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [pk_cod_Prov] FOREIGN KEY([cod_Prov])
REFERENCES [dbo].[PROVEEDOR] ([cod_Prov])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [pk_cod_Prov]
GO
/****** Object:  ForeignKey [pk_cod_Cli]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[ORDEN_PEDIDO]  WITH CHECK ADD  CONSTRAINT [pk_cod_Cli] FOREIGN KEY([cod_Cli])
REFERENCES [dbo].[CLIENTES] ([cod_Cli])
GO
ALTER TABLE [dbo].[ORDEN_PEDIDO] CHECK CONSTRAINT [pk_cod_Cli]
GO
/****** Object:  ForeignKey [pk_cod_CliOP]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[ORDEN_PEDIDO]  WITH CHECK ADD  CONSTRAINT [pk_cod_CliOP] FOREIGN KEY([cod_Cli])
REFERENCES [dbo].[CLIENTES] ([cod_Cli])
GO
ALTER TABLE [dbo].[ORDEN_PEDIDO] CHECK CONSTRAINT [pk_cod_CliOP]
GO
/****** Object:  ForeignKey [pk_cod_Emp]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[ORDEN_PEDIDO]  WITH CHECK ADD  CONSTRAINT [pk_cod_Emp] FOREIGN KEY([cod_Emp])
REFERENCES [dbo].[EMPLEADO] ([cod_Emp])
GO
ALTER TABLE [dbo].[ORDEN_PEDIDO] CHECK CONSTRAINT [pk_cod_Emp]
GO
/****** Object:  ForeignKey [pk_cod_Emp1]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[ORDEN_PEDIDO]  WITH CHECK ADD  CONSTRAINT [pk_cod_Emp1] FOREIGN KEY([cod_Emp])
REFERENCES [dbo].[EMPLEADO] ([cod_Emp])
GO
ALTER TABLE [dbo].[ORDEN_PEDIDO] CHECK CONSTRAINT [pk_cod_Emp1]
GO
/****** Object:  ForeignKey [pk_num_OrdenP]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[BOLETA]  WITH CHECK ADD  CONSTRAINT [pk_num_OrdenP] FOREIGN KEY([num_OrdenP])
REFERENCES [dbo].[ORDEN_PEDIDO] ([num_OrdenP])
GO
ALTER TABLE [dbo].[BOLETA] CHECK CONSTRAINT [pk_num_OrdenP]
GO
/****** Object:  ForeignKey [pk_cod_Prod]    Script Date: 04/15/2019 18:32:58 ******/
ALTER TABLE [dbo].[DETALLE_ORDEN_PEDIDO]  WITH CHECK ADD  CONSTRAINT [pk_cod_Prod] FOREIGN KEY([cod_Prod])
REFERENCES [dbo].[PRODUCTO] ([cod_Prod])
GO
ALTER TABLE [dbo].[DETALLE_ORDEN_PEDIDO] CHECK CONSTRAINT [pk_cod_Prod]
GO
